* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background:linear-gradient(120deg,white,black);
}

html {
    scroll-behavior: smooth;
}

nav {
    border-bottom: 2px solid #bbb;
    position: sticky;
    top: 0;
    z-index: 1;
    background:linear-gradient(120deg,white,black);
}

.nav-content {
    display: flex;
    justify-content: space-between;
    width: 1120px;
    margin: auto;
    align-items: center;
    height: 70px;
}

.nav-brand {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: black;
}

.nav-menu li {
    display: inline-block;
    margin-left: 40px;
}

.nav-menu li a {
    color: white;
    font-weight: 500;
    padding: 14px 17px;
    border-radius: 10px;
}

.nav-menu li a:hover {
    background:linear-gradient(120deg,white,black);
    color: azure;
}

.nav-menu .btn-guest {
    background-color: rgb(6, 6, 211);
    color: azure;
    padding: 14px 17px;
    border-radius: 10px;
}

.nav-menu .btn-guest:hover {
    background-color: rgb(68, 248, 13);
    color: azure;
}

main {
    width: 1150px;
    margin: auto;
    padding: 20px 0;
    display: flex;
    text-align: center;
    margin-top: 100px;
    height: 500px;
}

.tagline {
    margin-top: 50px;
    padding-right: 20px;
}

.tagline .tag {
    font-size: 20px;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(239, 135, 9);
    margin-bottom: 20px;
}

.tagline h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 600px;
    color: black;
    margin-bottom: 30px;
    line-height: 40px;
}

.tagline .deskripsi {
    margin-bottom: 40px;
    color: black;
    line-height: 20px;
    margin-right: 90px;
    margin-left: 80px;
    font-size: 20px;
}

.btn-more {
    background: linear-gradient(120deg,white,black);
    box-shadow: 0 0 20px white;
    color: white;
    padding: 14px 17px;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
}

.btn-more:hover {
    background: rgba(12, 12, 12, 0.587);
}

#about {

    background-color: #131415;
    margin: auto;
    display: flex;
    padding: 15px 40px;
    height: auto;
}

#about img {
    height: 410px;
    box-shadow: 0 0 25px greenyellow;
    border-radius: 20px;
    width: 290px;
    margin: 20px;
    margin-top: 60px;
    transition: 0.4s ease;
    filter: brightness(0.8);
}
#about img:hover{
     transform:scale(1.05) translateY(-8px);
     filter: brightness(1.1);
}
.pribadi{
    margin-bottom: 20px;
}

.pribadi .title {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    font-size: 20px;
    text-align: center;
    color: #de550c;
    font-weight: 700;
}

.title2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    color: white;
    font-weight: 700;
    margin-bottom: 10px;
}

.pribadi p {
    text-align: justify;
    font-size: 20px;
    margin-bottom: 20px;
    margin-right: 30px;
    line-height: 1.5;
    color: white;
    margin-left: 20px;
}
.contack-me{
    font-size: 10px;
}
.contack-me i{
    margin: 10px;
    color: white;
}
.btn-about a, i{
    margin: 8px;
    font-size: 20px;
}
 .btn-about{
    margin-left: 20px;
    margin-bottom: 20px;
    background: blue;
    color: white;
    padding: 14px 17px;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 0 25px rgb(197, 193, 193);
}
.btn-about:hover {
    background:rgb(107, 104, 104);
}

#Journey {
    padding: 60px 20px;
    text-align: center;
    color: black;
    background:linear-gradient(120deg,white,black);
}

.desc {
    max-width: 700px;
    font-size: 14px;
    margin: auto;
    margin-bottom: 30px;
    line-height: 1.6;
    color: black;
}

.pendidikan-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
.pendidikan-container :hover{
    transform: translateY(-5px);
    box-shadow: 0 0 25px rgb(14, 59, 207);
}

.riwayat h1 {
    margin-top: 20px;
}

/*pendidikan*/
.pendidikan {
    background:linear-gradient(120deg,white,black);
    padding: 20px;
    border-radius: 15px;
    width: 400px;
    box-shadow: 0 0 25px rgba(227, 228, 231, 0.851);
}
.pendidikan p{
    font-size: 20px;
}

.pendidikan img {
    width: 350px;
    height: 180px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.pendidikan .btn {
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    border: none;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 800;
    color: black;
    cursor: pointer;
    background:linear-gradient(120deg,white,black);
}
.pendidikan i{
    color: red;
    margin-right: 10px;
}

#Sertifikat {
    padding: 60px 20px;
    background-color:black;
}

.Sertifikat {
    width: auto;
    height: 500px;
    margin-bottom: 10px;
}

.Sertifikat h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    color: white;
}

/* prestasi */

.cemerlang {
    display: flex;

}

/* Card Prestasi */
.prestasi {
    width: 300%;
    height: 400px;
    background: linear-gradient(120deg,white,black);
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgb(250, 249, 249);
}

.prestasi:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(41, 198, 198, 0.897);
}


.prestasi img {
    width: 90%;
    margin: 20px 20px;
    height: 250px;
    border-radius: 10px;
}


.prestasi h3 {
    text-align: center;
    margin: 15px 0 5px;
    color: white;
}

.prestasi p {
    text-align: center;
    color: white;
}
.btn-sertifikat{
     width: 90%;
     margin-left: 10px;
    margin-top: 40px;
    padding: 12px;
    border: none;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 800;
    color: black;
    cursor: pointer;
    background:linear-gradient(120deg,white);
}
#guestbook{
    height: auto;
    background:linear-gradient(120deg, white,black);
}
.sosmed{
    padding: 10px;
    color: black;
}
.sosmed h1{
    margin-top: 65px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 30px;
}
.sosmed p{
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}
.container-guest{
    max-width: 900px;
    margin: auto;
}
.form-box{
    background: linear-gradient(120deg,white,black);
    padding: 25px;
    border-radius: 14px;
    margin-bottom: 40px;
}
label{
    font-size: 16px;
    margin-bottom: 6px;
    display: block;
    color: #131415;
}
input, textarea{
    background: linear-gradient(120deg, white, black);
    width: 100%;
    padding: 12px;
    border-radius: 15px;
    border: 1px solid #ddd;
    margin-bottom: 15px;
}
textarea{
    height: 100px;
    resize: none;
}
.btn-wrapper{
    text-align: right;
}
.btn-wrapper button{
    background: linear-gradient(120deg, white,black);
    color:black;
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
}
h2{
    text-align: center;
    margin-bottom: 20px;
}
.reviews{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
}
.card{
      background: linear-gradient(120deg, white, black);
      border-radius: 14px;
      padding: 20px;
      display: flex;
      width: 300px;
      height: 150px;
      box-shadow: 0 6px 15px rgba(0,0,0,0.05);
      margin-bottom: 10px;
    }

    .avatar {
      width: 60px;
      height: 60px;
      margin-right: 10px;
      border-radius: 50%;
      background: #e5ecff;
      color: #3b5cff;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
    }

    .card h4 {
      margin: 0;
      font-size: 18px;
    }

    .card p {
      font-size: 16px;
      margin: 4px 0;
    }

    .card span {
      font-size: 15px;
      color: black;
    }
footer {
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 20px;
}

/*mobile*/
@media screen and (max-width: 708px) {
    body {
        margin: auto;
        width: 708px;
    }

    .nav-content {
        width: 80%;
        display: block;
        margin: auto;
        height: 110px;

    }

    .nav-brand {
        font-size: 30px;
        margin-bottom: 30px;
    }

    .nav-menu {
        padding-left: 5px;
    }

    .nav-menu li {
        margin-left: 0;
        margin-right: 5px;
    }

    .nav-menu li a {
        font-size: 15px;
    }

    .nav-menu .btn-reg {
        padding: 12px 15px;
    }

    main {
        display: block;
        width: 100%;
        padding: 10px;
    }

    .tagline {
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .tagline .tag {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .tagline h2 {
        font-size: 40px;
        margin-bottom: 20px;
        line-height: 45px;
    }

    .tagline .deskripsi {
        font-size: 15px;
        margin-bottom: 30px;
        text-align: center;
    }

    .btn-more {
        font-size: 15px;
        padding: 12px 15px;
    }

    #about {
        display: block;
        width: 100%;
        display: flex;
        padding: 10px;
        margin-top: 10px;
    }

    #about img {
        width: 150px;
        height: 300px;
        margin-bottom: 10px;
        padding: 10px 5px;
    }

    .pribadi .title2 {
        font-size: 20px;
    }

    .pribadi p {
        font-size: 15px;
        margin-bottom: 10px;
    }
}